{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}
{% block sidebar %}
	{{ render(controller('Message:Mothership:Voucher::Controller:ControlPanel#sidebar')) }}
{% endblock %}
{% block main %}
	<div class="title vouchers">
		<h1>All Vouchers</h1>
	</div>
	<div class="container-content vouchers">
		{% if vouchers|length == 0 %}
		<p class="notice">{{ 'ms.voucher.none-outstanding'|trans }}</p>
		{% else %}
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Created at</th>
					<th>Initial value</th>
					<th>Balance</th>
					<th>Expires at</th>
				</tr>
			</thead>
			<tbody>
				{% for voucher in vouchers %}
				<tr>
					<td><a href="{{ url('ms.cp.voucher.view', {id : voucher.id}) }}">{{ voucher.id }}</a></td>
					<td>{{ voucher.authorship.createdAt|date('h:ia \\o\\n d/m/y') }}</td>
					<td>{{ voucher.amount|price(voucher.currencyID) }}</td>
					<td>{{ voucher.getBalance()|price(voucher.currencyID) }}</td>
					<td>{{ voucher.expiresAt is empty ? 'Never' : voucher.expiresAt|date('h:ia \\o\\n d/m/y') }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
{% endblock %}