{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Voucher::Controller:ControlPanel#sidebar')) }}
{% endblock %}

{% block main %}
<div class="title vouchers">
	<h1>Voucher '{{ voucher.id }}' <span>{{ 'ms.voucher.expiry.label'|trans }}: {{ voucher.expiresAt is empty ? 'Never' : voucher.expiresAt|date }}</span></h1>
	<div class="controls">
	    <form action="{{ url('ms.cp.voucher.invalidate', {id: voucher.id}) }}" method="post" id="delete-page">
	        <input type="hidden" name="_method" value="DELETE">
	        <button name="delete[delete]" value="delete" id="delete" type="submit" class="button small delete">{{ 'Invalidate Voucher'|trans }}</button>
	    </form>
	</div>
</div>
<div class="container-content extended dual-column">
	<div class="column">
			<h2>Amount Details</h2>
				<dl class="voucher-details">
					<dt>{{ 'ms.voucher.amount.label'|trans }}</dt>
						<dd>{{ voucher.amount|price(voucher.currencyID) }}</dd>
					<dt>{{ 'ms.voucher.used-amount.label'|trans }}</dt>
						<dd>{{ voucher.getAmountUsed()|price(voucher.currencyID) }}</dd>
					<dt class="grand-total">{{ 'ms.voucher.balance.label'|trans }}</dt>
						<dd class="grand-total">{{ voucher.getBalance()|price(voucher.currencyID) }}</dd>
				</dl>
			<h2>Voucher Details</h2>
				<dl class="voucher-details">
					<dt>{{ 'ms.voucher.expiry.label'|trans }}</dt>
						<dd>{{ voucher.expiresAt is empty ? 'Never' : voucher.expiresAt|date }}</dd>
					<dt>{{ 'Created on'|trans }}</dt>
						<dd>{{ voucher.authorship.createdAt|date}}</dd>
					<dt>{{ 'Created by'|trans }}</dt>
						<dd>{{ voucher.authorship.createdUser.name }}</dd>
					{% if voucher.purchasedAsItem is not empty %}
					<dt>{{ 'ms.voucher.purchased-as-order.label'|trans }}</dt>
						<dd><a href="{{ url('ms.commerce.order.detail.view.items', {orderID: voucher.purchasedAsItem.order.id}) }}">#{{ voucher.purchasedAsItem.order.id }}</a></dd>
					{% endif %}
					{% if voucher.usedAt is not empty %}
					<dt>{{ 'ms.voucher.used-at.label'|trans }}</dt>
						<dd>{{ voucher.usedAt|date }}</dd>
					{% endif %}
				</dl>
	</div>
	<div class="column">
			<h2>Usage history</h2>
			{% if voucher.usage is empty %}
			<p class="notice">{{ 'ms.voucher.voucher-no-usage'|trans }}</p>
			{% else %}
			<table>
				<thead>
					<tr>
						<th>Order</th>
						<th>Customer</th>
						<th>Order total</th>
						<th>Amount used</th>
					</tr>
				</thead>
				<tbody>
					{% for payment in voucher.usage %}
					<tr>
						<td><a href="{{ url('ms.commerce.order.detail.view', {orderID: payment.order.id}) }}">#{{ payment.order.id }}</a></td>
						<td>{{ payment.order.user.getName }}</td>
						<td>{{ payment.order.totalGross|price(payment.order.currencyID) }}</td>
						<td>{{ payment.amount|price(payment.order.currencyID) }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
	</div>
</div>
{% endblock %}