{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
		<a href="{{ url('ms.cp.voucher.index') }}" class="back">Back to vouchers</a>
{% endblock %}

{% block main %}

<div class="title vouchers">
	<h1>Voucher '{{ voucher.id }}'</h1>

	<div class="controls">
		<a href="#" class="button small invalidate">Invalidate Voucher</a>
	</div>
</div>
<div class="container-content extended dual-column">


	<div class="column">


			<h2>Amount Details</h2>
			<ul class="voucher-details">
				<li><span>{{ 'ms.voucher.amount.label'|trans }}</span> {{ voucher.amount|price(voucher.currencyID) }}</li>

				<li><span>{{ 'ms.voucher.used-amount.label'|trans }}</span> {{ voucher.getAmountUsed()|price(voucher.currencyID) }}</li>

				<li class="grand-total"><span>{{ 'ms.voucher.balance.label'|trans }}</span> {{ voucher.getBalance()|price(voucher.currencyID) }}</li>

			</ul>

			<h2>Voucher Details</h2>
			<ul class="voucher-details">

				<li><span>Expiry on</span> {{ voucher.expiresAt|date}}</li>

				<li><span>{{ 'Created at'|trans }}</span> {{ voucher.authorship.createdAt|date}} </li>

				<li><span>{{ 'Created by'|trans }}</span> {{ voucher.authorship.createdBy }}</li>

				{% if voucher.purchasedAsItem is not empty %}
				<li><span>{{ 'ms.voucher.purchased-as-order.label'|trans }}</span> <a href="{{ url('ms.commerce.order.detail.view.items', {orderID: voucher.purchasedAsItem.order.id}) }}">#{{ voucher.purchasedAsItem.order.id }}</a></li>
				{% endif %}

				{% if voucher.usedAt is not empty %}
				<li><span>{{ 'ms.voucher.used-at.label'|trans }}</span> {{ voucher.usedAt|date('h:ia \\o\\n d/m/y') }}</li>
				{% endif %}
			</ul>

	</div>

 <div class="column">
		<h2>Usage history</h2>

		{% if voucher.usage is empty %}

		<p class="notice">{{ 'ms.voucher.voucher-no-usage'|trans }}</p>

		{% else %}

		<table>
			<thead>
				<tr>
					<th>Order</th>
					<th>Customer</th>
					<th>Order total</th>
					<th>Amount used</th>
				</tr>
			</thead>
			<tbody>
				{% for payment in voucher.usage %}
				<tr>
					<td><a href="{{ url('ms.commerce.order.detail.view.index', {orderID: payment.order.id}) }}">#{{ payment.order.id }}</a></td>
					<td>{{ payment.order.user.getName }}</td>
					<td>{{ payment.order.totalGross|price(payment.order.currencyID) }}</td>
					<td>{{ payment.amount|price(payment.order.currencyID) }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		{% endif %}

	</div>
</div>

{% endblock %}